.btn{
    padding: 8px;
    margin: 6px;
    background-color: black;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 19px;
}

.element_value{
    padding: 0 30px 10px 30px; 
    font-size: 30px;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.Navbar{
    padding: 11px;
    margin-top: 5em;
}
.value{
    background-color: rgb(34, 34, 101);
    color:white;
    padding:5px 20px;
    border-radius: 12px;
}